@media (min-width: 1281px) {}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	.tipodeproducto {
		margin-left: 0px;
		margin-top: 0px;
		position: relative;
		width: 100%;
	}
	.tipodeenvio {
		margin-left: 0px;
		position: relative;
		width: 100%;
	}
	.datosdeenvio {
		margin-left: 0px;
		position: relative;
		margin-top: 0px;
		width: 100%;
	}
	.totales {
		margin-left: 0px;
		margin-top: 0px;
		position: relative;
		width: 100%;
	}
	.metodopago {
		margin-left: 0px;
		margin-top: px;
		position: relative;
		width: 100%;
	}
	.datospersonales {
		margin-top: 0px;
		width: 100%;
		margin: 0px;
	}
	#comprar {
		margin-left: 0px;
	}
	.imagen {
		width: 50%;
		position: relative;
		left: 25%;
	}
	.footer {
		width: 100%;
		height: 250px;
		color: white;
		background-color: #020c28;
	}
	.pc {
		top: 160px;
		position: relative;
		left: 0px;
	}
	.copy {
		top: 170px;
		position: relative;
		left: 0px;
	}
	.icono {
		position: relative;
		top: 160px;
		left: 6px;
	}
}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.tipodeproducto {
		margin-left: 0px;
		margin-top: 0px;
		position: relative;
		width: 100%;
	}
	#gracias {
		position: relative;
		margin-left: 0px;
		margin-top: 0px;
	}
	.tipodeenvio {
		margin-left: 0px;
		position: relative;
		width: 100%;
	}
	.datosdeenvio {
		margin-left: 0px;
		position: relative;
		margin-top: 0px;
		width: 100%;
	}
	.totales {
		margin-left: 0px;
		margin-top: 0px;
		position: relative;
		width: 100%;
	}
	.metodopago {
		margin-left: 0px;
		margin-top: px;
		position: relative;
		width: 100%;
	}
	.datospersonales {
		margin-top: 0px;
		width: 100%;
		margin: 0px;
	}
	#comprar {
		margin-left: 0px;
	}
	.imagen {
		width: 50%;
		position: relative;
		left: 25%;
	}
	.footer {
		width: 100%;
		height: 250px;
		color: white;
		background-color: #020c28;
	}
	.pc {
		top: 160px;
		position: relative;
		left: 0px;
	}
	.copy {
		top: 170px;
		position: relative;
		left: 0px;
	}
	.icono {
		position: relative;
		top: 160px;
		left: 6px;
	}
}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	#logo-container {
		display: block;
		width: 100%;
	}
	.logo {
		width: 30%;
		padding-left: 35%;
	}
	nav {
		width: 100%;
		position: relative;
	}
	nav ul li {
		display: inline-block;
		width: 100%;
		margin: auto;
	}
	nav ul li a {
		line-height: 40px;
		position: relative;
		width: 100%;
	}
	.tipodeproducto {
		margin-left: 0px;
		margin-top: 0px;
		position: relative;
		width: 100%;
	}
	.tipodeenvio {
		margin-left: 0px;
		position: relative;
		width: 100%;
	}
	.datosdeenvio {
		margin-left: 0px;
		position: relative;
		margin-top: 0px;
		width: 100%;
	}
	.totales {
		margin-left: 0px;
		margin-top: 0px;
		position: relative;
		width: 100%;
	}
	.metodopago {
		margin-left: 0px;
		margin-top: px;
		position: relative;
		width: 100%;
	}
	.datospersonales {
		margin-top: 0px;
		width: 100%;
		margin: 0px;
	}
	#comprar {
		margin-left: 0px;
	}
	.imagen {
		width: 100%
	}
	.footer {
		width: 100%;
		height: 250px;
		color: white;
		background-color: #020c28;
	}
	.pc {
		top: 160px;
		position: relative;
		left: 0px;
	}
	.copy {
		top: 170px;
		position: relative;
		left: 0px;
	}
	.icono {
		position: relative;
		top: 160px;
		left: 6px;
	}
	#gracias {
		position: relative;
		margin-left: 0px;
		margin-top: 0px;
	}
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	#logo-container {
		display: block;
		width: 100%;
	}
	.logo {
		width: 30%;
		padding-left: 35%;
	}
	nav {
		width: 100%;
		position: relative;
	}
	nav ul li {
		display: inline-block;
		width: 100%;
		margin: auto;
	}
	nav ul li a {
		line-height: 40px;
		position: relative;
	}
	.tipodeproducto {
		margin-left: 0px;
		margin-top: 0px;
		position: relative;
	}
	.tipodeenvio {
		margin-left: 0px;
		position: relative;
	}
	.datosdeenvio {
		margin-left: 0px;
		position: relative;
		margin-top: 0px;
	}
	.totales {
		margin-left: 0px;
		margin-top: 0px;
		position: relative;
	}
	.metodopago {
		margin-left: 0px;
		margin-top: px;
		position: relative;
	}
	.datospersonales {
		margin-top: 0px;
		width: 92.7%;
		margin: 0px;
	}
	#comprar {
		margin-left: 0px;
	}
	#gracias {
		position: relative;
		margin-left: 0px;
		margin-top: 0px;
	}
	.imagen {
		width: 50%
	}
	.footer {
		width: 100%;
		height: 250px;
		color: white;
		background-color: #020c28;
	}
	.pc {
		top: 160px;
		position: relative;
		left: 0px;
	}
	.copy {
		top: 170px;
		position: relative;
		left: 0px;
	}
	.icono {
		position: relative;
		top: 160px;
		left: 6px;
	}
}
