@media screen and (max-width: 780px) {

  #logo-container {
    display: block;
    margin: auto;
    }

    header {
      font-size: 0;
    }

    nav {
      width: 100%;
      height: 200px;
    }

    nav {
      font-size: 0px;
      font-weight: bold;
      letter-spacing: 2px;
    }


    nav ul li {
      display: block;
      padding: 0px;
      margin: 0px;
      height: 40px;
      margin: auto;
    }

    nav ul li a {
      text-decoration: none;
      font-size: 20px;
      color: white;
      line-height: 70px;
      margin-top: 5
    }

    h2 {
      font-family: 'Bai Jamjuree', sans-serif;
      font-family: 'Mali', cursive;
      color: #0066FF;
      font-size: 38px;
      text-align: center;
      margin-top: 240px;
    }

    #ofertas {
      letter-spacing: 10px;
    }

    #listado {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0;
    }

    #listado li {
      width: 47%;
      display: inline-block;
      font-size: 16px;
      background-color: #020c28;
      text-align: center;
      font-family: 'Anton', sans-serif;
      margin-left: 30%;
    }

    #novedades {
      letter-spacing: 10px;
    }

    #listadouno li {
      font-family: 'Anton', sans-serif;
      width: 47%;
      display: inline-block;
      font-size: 16px;
      background-color: #020c28;
      text-align: center;
      margin-left: 30%;
    }


    .new {
      font-family: 'Anton', sans-serif;
      font-size: 12px;
      width: 100%;
      background-image: linear-gradient(to right, #020c28, blue);
      color: white;
      height: 240px;
      position: relative;
    }

    /*Estilo pie de página */

    .footer {
      width: 100%;
      height: 250px;
      color: white;
      background-color: #020c28;
    }

    .pc {
      top: 160px;
      position: relative;
      left: 0px;
    }

    .copy {
      top: 170px;
      position: relative;
      left: 0px;
    }

    .icono {
      position: relative;
      top: 148px;
      left: 1px;
    }
  }
}
