
/* color de fondo de la página */
body {
  margin:0;
  background-size: 100%;
  background-color: #0f1b3a;
}

/* Estilo del logo */
#logo-container{
  display: inline-block;
  width:11.5%;
}

header{
  font-size: 0;
}

/* Estilo caja detras del menú */
nav {
font-family: 'Bai Jamjuree', sans-serif;
width: 80%;
height: 170px;
color: #ffffff;
background: #020c28;
overflow: hidden;
text-align: center;
}



/* Estilos en la fuente de letra de <nav> */
nav {
  font-size: 0px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 4px 2px blue;
  display: inline-block;
  width: 88.5%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

nav ul li {
  display: inline-block;
  width: 20%;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  line-height: 170px;
}



/* Estilo sobre Bienvenido*/
h2 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Mali', cursive;
  color: #0066FF;
  font-size: 38px;
  text-align: center;
}



/* Estilo h3 ofertas */
#ofertas {
  font-family: 'Anton', sans-serif;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #2a75ed;
  background-image: linear-gradient(to right, #020c28 , blue);
  padding: 20px;
  text-align: center;
  text-shadow: 5px 2px 4px black;
  letter-spacing: 50px;
}

/* Estilo a la lista de juegos de oferta */
.counter, .pacman, .age, .fifa, .sims, .gta, .f1, .need, .nba, .busca, .worms, .pou {
  color: white;
}

#listado {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

#listado li {
  width: 20%;
  display: inline-block;
  font-size: 16px;
  margin-top: 5%;
  padding:2px;
  background-color: #020c28;
  text-align: center;
  font-family: 'Anton', sans-serif;
  margin-left: 80px;
}

.counter:hover, .pacman:hover, .age:hover, .fifa:hover, .sims:hover, .gta:hover, .f1:hover, .need:hover,.nba:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px blue;
}

/* Estilos h3 novedades */
#novedades {
  font-family: 'Anton', sans-serif;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #2a75ed;
  background-image: linear-gradient(to right, #020c28 , blue);
  padding: 20px;
  text-align: center;
  text-shadow: 5px 2px 4px black;
  letter-spacing: 50px;
}

/* Estilo a la lista de juegos de novedades*/
#listadouno {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

#listadouno li {
  font-family: 'Anton', sans-serif;
  width: 20%;
  display: inline-block;
  font-size: 16px;
  margin-left: 10%;
  margin-top: 5%;
  padding:2px;
  background-color: #020c28;
  text-align: center;
  margin-left: 80px;
}

.busca:hover, .worms:hover, .pou:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px blue;
}

/* Estilos newlester */
.new {
  font-family: 'Anton', sans-serif;
  font-size: 12px;
  width: 100%;
  background-image: linear-gradient(to right, #020c28 , blue);
  color: white;
  height: 240px;
  position: relative;
}

/*Estilo pie de página */
.footer {
  width: 100%;
  height: 250px;
  color: white;
  background-color: #020c28;
}

.pc {
  top: 180px;
  position: relative;
  left: 10px;
}
.copy {
  top: 190px;
  position: relative;
  left: 10px;
}
.icono {
  position: relative;
  top: 168px;
  left: 1px;
}
}
