/*Toda la página*/
* {

}

/* color de fondo de la página */
body {
  margin:0
  background-size: 100%;
  background-color: #0f1b3a;
}

/* Estilo del logo */
.logo {
  position: relative;
  top: -159px;
  height: 168px;
  right: 5px;
}

/* Estilo caja detras del menú */
.caja {
width: 100%;
height: 170px;
position: relative;
color: #ffffff;
background: #020c28;
overflow: hidden;
top:10px;
}


/* Estilos en la fuente de letra de <nav> */
nav {
  font-family: 'Indie Flower', cursive;
  src: url(fuentes/IndieFlower.ttf);
  font-size: 0px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 4px 2px blue;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

nav ul li {
  display: inline-block;
  width: 20%;
  position: relative;
  left: 280px;
  bottom: 260px;

}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}



/* Efecto al pasar el mouse sobre el menú */
.menu li a:hover {
background-color: #134ead;
transition-property: background-color;
padding: 70px;
}

/* Estilo sobre Bienvenido*/
h2 {
  font-family: 'Indie Flower', cursive;
  src: url(fuentes/IndieFlower.ttf);
  position: relative;
  margin: 15%;
  bottom: 330px;
  color: #0066FF;
  font-size: 38px;
  left: 20px;
}

/* posicionamiento imagen de Mario */
.mario {
  position: relative;
  bottom: 555px;

}

/* posicionamiento imagen de Luigi */
.luigi {
  position: relative;
  bottom: 555px;
  left: 930px;
}

/* posicionamiento imagen de Hongo */
.hongo {
  position: relative;
  bottom: 565px;
  left: 10%;
}

/* Estilo h3 ofertas */
#ofertas {
  width: 100%;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #2a75ed;
  background-image: linear-gradient(to right, #020c28 , blue);
  padding: 20px;
  text-align: center;
  text-shadow: 5px 2px 4px black;
  letter-spacing: 50px;
  position: relative;
  bottom: 600px;
}

/* Estilo a la lista de juegos de oferta */
.counter, .pacman, .age, .fifa, .sims, .gta, .f1, .need, .nba, .busca, .worms, .pou {
  color: white;
}

#listado {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

#listado img {

}

#listado li {
  width: 15.15%;
  display: inline-block;
  font-size: 16px;
  margin-left: 15%;
  margin-top: 5%;
  position: relative;
  bottom: 600px;
  background-color: #020c28;
  text-align: center;
}

.counter:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #4286f4;
}

.pacman:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #f4a142;
}

.age:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #48f442;
}

.fifa:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #f46542;
}

.sims:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #f442c8;
}

.gta:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #42f4ee;
}

.f1:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #3f754d;
}

.need:hover {
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #cecb33;
}

.nba:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #7885bc;
}


/* Estilos h3 novedades */
#novedades {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  color: #2a75ed;
  background-image: linear-gradient(to right, #020c28 , blue);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  text-shadow: 5px 2px 4px black;
  opacity: 0.8;
  letter-spacing: 50px;
  width: 900px;
  margin: 40px;
  display: inline-block;
  top: 700px;
  text-align: center;
}

/* Estilo a la lista de juegos de novedades*/
.busca {
  list-style: none;
  position: relative;
  background-color: #020c28;
  display: inline-grid;
  width: 280px;
  height: 400px;
  margin-left: -30px;
  top: 700px;
  text-align: center;
}

#busca {
  margin-left: 5px;
}

.worms {
  list-style: none;
  position: relative;
  background-color: #020c28;
  display: inline-grid;
  width: 280px;
  height: 400px;
  margin-left: -5px;
  top: 700px;
  text-align: center;
}

#worms {
  margin-left: 5px;
}

.pou {
  list-style: none;
  position: relative;
  background-color: #020c28;
  display: inline-grid;
  width: 280px;
  height: 400px;
  margin-left: 600px;
  top: 300px;
  text-align: center;
}

#pou {
  margin-left: 5px;
}
.busca:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ba8c51;
}

.worms:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ba7451;
}

.pou:hover {
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #cecb33;
}

/* Estilos newlester */
.new {
  width: 912px;
  background: #113c4c;
  position: relative;
  top: 710px;
  margin-left: 80px;
  border: solid blue;
  padding: 10px;
  color: blue;
  text-align: left;

}

/*Estilo pie de página */
.footer {
  width: 940px;
  height: 250px;
  margin-left: 80px;
  position: relative;
  color: white;
  background-color: #020c28;
  top: 720px;
}

.pc {
  top: 180px;
  position: relative;
  right: 120px;
}
.copy {
  top: 170px;
  position: relative;
  right: 70px;
}
.icono {
  position: relative;
  right: 25px;
  top: 160px;
}

@media screen and (max-width: 499px) {
.menu li a {
  display: inline;
}

@media screen and (max-width: 600px) {
.menu li a {
  display: inline;
}
