#logo-container{
  display: inline-block;
  width:11.5%;
  position: relative;
}

body {
  margin:0;
  background-size: 100%;
  background-color: #0f1b3a;
}

 h3 {
   color: blue;
   font-size: 30px;
 }

 h4 {
   color: blue;
   font-size: 20px;
 }

p {
  color: white;
  font-size: 20px;
}

/*Estilo pie de página */
.footer {
  width: 100%;
  height: 250px;
  color: white;
  background-color: #020c28;
}

.pc {
  top: 180px;
  position: relative;
  left: 10px;
}
.copy {
  top: 190px;
  position: relative;
  left: 10px;
}
.icono {
  position: relative;
  top: 168px;
  left: 1px;
}
